.call__btn{
    width: 173px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid $btn-color;
    background-color: transparent;
    font-size: $text-f-size;
    color:$btn-color;
    font-weight: 600;
    transition: all .3s ease-in;
    cursor: pointer;
}

.call__btn:hover{
    background-color: $btn-color;
    color:#fff;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.call__btn:active{
    opacity: .7;
    transition: all .3s ease-in-out;
}



.order__btn{
    width: 133px;
    height: 48px;
    background-color: $btn-color;
    border:3px solid $btn-color;
    border-radius:4px;
    font-size: $text-f-size + 2px;
    color:#fff;
    cursor: pointer; 
    transition: all .3s ease-in-out;
}

.order__btn:hover{
    background-color: transparent;
    color:$btn-color;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.order__btn:active{
    opacity: .7;
}


.repair__btn{
    width: 188px;
    height: 48px;
    border-radius:4px;
    background-color: $btn-color;
    border:3px solid $btn-color;
    font-size: $text-f-size + 2px;
    color:#fff;
    font-weight: bold;
    transition: all .3s ease-in;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

.repair__btn:hover{
    background-color: transparent;
    color:$btn-color;
    transition: all .3s ease-in-out;
}

.repair__btn:active{
    opacity: .7;
}


.example__btn{
    font-size: $text-f-size + 2px;
    color:#fff;
    width: 205px;
    height: 48px;
    border-radius:4px;
    background-color: $btn-color;
    border:3px solid $btn-color;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.example__btn:hover{
    background-color: transparent;
    color:$btn-color;
    transition: all .3s ease-in-out;
}

.example__btn:active{
    opacity: .7;
}

.descount__item__btn{
    width: 205px;
    height: 48px;
    border-radius:4px;
    background-color: $btn-color;
    border:3px solid $btn-color;
    font-size: $text-f-size + 2px;
    color:#fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease-in;
}

.descount__item__btn:hover{
    background-color: #fff;
    color:$btn-color;
    transition: all .3s ease-in-out;
}

.descount__item__btn:active{
    opacity: .7;
}

.descount__btn{
    width: 205px;
    height: 48px;
    border-radius:4px;
    background-color: transparent;
    border:3px solid $btn-color;
    font-size: $text-f-size + 2px;
    color:$btn-color;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all .3s ease-in;
}

.descount__btn:hover{
    background-color: $btn-color;
    color:#fff;
    transition: all .3s ease-in-out;
}

.descount__btn:active{
    opacity: .7;
}

.supplier__btn{
    width: 205px;
    height: 48px;
    border-radius:4px;
    background-color: $btn-color;
    border:3px solid $btn-color;
    font-size: $text-f-size + 2px;
    color:#fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease-in;
}

.supplier__btn:hover{
    background-color: #fff;
    color:$btn-color;
    transition: all .3s ease-in-out;
}

.supplier__btn:active{
    opacity: .7;
}