.comments{
    width: 100%;
    height: 942px;
    background-color: #f8f8f8;

    .comment__heading__h2{
        padding-top: 29px;
        font-size: 42px;
        color: $text-color;
        text-align: center;
        margin-bottom: 29px;
    }

    .comment__list__item{
        width: 586px;
        height: 367px;
        background-color: #fff;
    }

    .comment__card__video{
        width: 586px;
        height: 298px;
        background-color: #595959;
        // position: absolute;

        .comment__youtube--icon{
            position: relative;
            top: 120px;
            left: 43%;
        }
    }

    .comment__card--desc--wraapper{
        @include d-flex;
        gap: 8px;
        margin-left: 27px;
        margin-top: 14px;
        margin-bottom: 3px;

        .comment__card__video--desc{
            font-size: $text-f-size - 2px;
            color:$text-color;
        }

        .comment__card__video--heading{
            font-size: $text-f-size + 2px;
            color:$btn-color;
    
        }

       
    }


    .comment__card__location{
        font-size: $text-f-size + 2px;
        color:$text-color;
        margin-left: 27px;
    }

    .comment__card__location::before{
        content:url(/assets/icon/comment__card--location--icon.svg);
        position: relative;
        margin-right: 3px;
    }

    
    
}

.comment__list{
    @include d-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}